.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        
        .link{
            text-decoration: none;
            color: inherit;
        }
        //searchbar
        .searchbar{
            position: relative;
            width:920px;
            font-size: 18px;
            padding-left: 45px;
            padding-top: 13px;
            padding-bottom: 12px;
            top: 30px;

        }
        .search_icon{
            position: relative;
            width: 25px;
            top: -11px;
            left: 12px;
        }
        button.go_button{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: white;
            font-size: 17px;
            position: relative;
            top: -19.5px;
            left: 945px;
            padding: 14px;
            border-color: #0C356A;
            cursor: pointer;
            color: #0C356A;
            &:hover{
                background-color: #0C356A;
                color: white;
            }
        }

        //login and register stuff
        .authenticate{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            //page background
            //background-color: #0C356A;
        
            //title
            h1{
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                background-color: #0174BE;
                padding: 8px;
                padding-left: 15px ;
                padding-right: 15px ;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 20px;
                color:whitesmoke;
                margin-bottom: 20px;
                // position: relative;
                // top: 84px;

            }

            //center box
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: #0174BE;
                width: 200px;
                gap: 20px;

                //input boxes
                input{
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray ;
                }
                //error message for login
                p.err-mess{
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;
                    text-align: center;
                    color: black;
                }
                //password criteria for register
                p.pass-reqs{
                    font-size: 10px;
                    text-align: center;
                }
                //login or register button
                button{
                    padding: 10px;
                    border: none;
                    background-color: #0C356A;
                    cursor: pointer;
                    color: #FFC436;
                    &:hover{
                        background-color: #FFC436;
                        color: #0C356A;
                    }
                }

                //bottom text, with link
                span{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        //header stuff

        .headerbar {
            .container {
                //distance from top of page
                padding: 10px 0px;
                display: flex;
                //aligns menu items across the page
                justify-content: space-between;
                align-items: center;
            }
            .links{
                display: flex;
                //gap between links
                gap: 12px;
                align-items: center;

                //invisible clickbox for cart icon
                h5{
                    padding: 18px;
                }
                // MEN, WOMEN, etc... buttons with hover animations
                h6{
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 10px;
                    &:hover{
                        color:white;
                        background-color:#0C356A;
                    }
                }
                //account name as well is logout/login button
                span{
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
                //clickable cart icon, hover icon turns it black
                .cart{
                    background: url('./images/cart.png') center/cover;
                    width: 62px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover{
                        background: url('./images/cart-2.png') center/cover;
                        width: 62px;
                        height: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .logo{
                img{
                    width: 120px;
                }
            }
        }

        //pagefooter
        footer{
            margin-top: 1000px;
            padding: 30px;
            background-color: rgba(#0174BE, .5);
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                height: 50px;
            }
        }
    }
}