<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
<div id="itemsContainer"></div>
<script>
    function displayAll(){
        fetch(`/all`)
            .then(response=>response.json())
            .then(data=>{
                const itemsContainer = document.getElementById("itemsContainer")
                data.forEach(item=>{
                    const itemElement = document.createElement('div')
                    itemElement.textContent = item.name
                    itemsContainer.appendChild(itemElement)
                })
            }).catch(error=> console.error(error))
    }
    displayAll()// displayAll() get all data from database and display them on home.html

</script>
</body>
</html>