<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>this html page is supposed to send data from html form to database.</h2>
<form id="postForm">
    <div>
        <label>ask for name text</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label>ask for type text</label>
        <input type="text" name="type" id="type">
    </div>
    <div>
        <label>Describe it:</label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label>relevant date input:</label>
        <input type="date" name="age" id="age">
    </div>
    <div>
        photo:
    </div>
    <div id="external_file">
    <button type="submit">Submit</button>
    <form action="/upload_photo" method="post" enctype="multipart/form-data">
        <label for="photoUpload">Choose a photo to upload:</label>
        <input type="file" id="photoUpload" name="photo">
        <input type="submit" value="Upload Photo">
    </form>
    </div>
    <!-- above div is where(roughly) you upload external files to the backend storage --->

</form>
<script>
    document.getElementById("postForm").addEventListener("submit",function(event) {
        event.preventDefault();
        //save to the database
        const formData = {
            name:document.getElementById('name').value,
            type:document.getElementById('type').value,
            description:document.getElementById('description').value,
            age:document.getElementById('age').value,
        }
        fetch('a/add',{
            method:'post',
            headers:{
                'Content-Type':'application/json',
            },
            body: JSON.stringify(formData),
        }).then(response => response.json())
            .then(data => {
                console.log('good:', data);
                console.log('Message:', data.message);
                //empty JSON fixed after setting up getters and setters in models.
            })
            .catch((error) => {
                console.error('oops...:', error);
            });
    });
    //upload external files with java
</script>
</body>
</html>

